* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://images.unsplash.com/photo-1579280921028-21d4e5005a77?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGlhcnl8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:initial;
 
}

.app {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
}

.topDiv{
  position: absolute;
  width:100%;
  height: 20em;
  display: inline-block;}

.app .mainHeading h1 {
  text-align: center;
  color: black;
  font-style: italic;
  font-family: serif;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100px;}


.subHeading{
  height: 5em;
  text-align: center;
  color: black;
}

.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.app .input .inputs {
  margin-top: 0.8em;
  width: 23em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .input .inputs input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
  
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}

.app .bottomDiv {
 position: absolute;
 display: flex;
 width: 100%;
 top: 20em;
 height: 20em;
 text-align: center;
 color: white;
}

.app .bottomDiv .todos {
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  height: 100%;
}

.app .bottomDiv .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
.app .bottomDiv .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .bottomDiv .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: grey;
}

.app .bottomDiv .completed {
  display: flex;
  display: inline-block;
  width: 34%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.app .bottomDiv .cancelled {
  display: flex;
  display: inline-block;
  flex-direction: column;
  width: 33%;
  height: 100%;
}

.highlight{
  cursor: pointer;
}

.highlight:hover{
  transform:scale(1.08)
}

